.footer{
    @extend %section-mt;

    @include mq(sm){
        margin-top: 0;
    }
    p{
        color: #fff;
        text-align: center;
    }
    
    &-contact{
        padding-top: 80px;
        padding-bottom: 80px;
        background-image: url(../../img/pc/bg_index_03.png);
        background-size: cover;
        background-position: center;

        p{
            font-size: 24px;
            letter-spacing: 2.4px;
            margin-bottom: 40px;
            line-height: 2;

            @include mq(sm){
                letter-spacing: 1.8px;
                font-size: 18px;

            }
        }

        &__btn{
            display: flex;
            justify-content: center;
            
            @include mq(sm){
                flex-direction: column;
                align-items: center;
            }

            .m-btn__tel{
                margin-right: 80px;

                @include mq(sm){
                    margin-right: 0;
                    margin-bottom: 40px;
                }
            }
        }
    }

    &-info{
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: $c-main;
        text-align: center;
    }

    &-logo{
        width: 124px;
        height: 48px;
        margin: auto;
        margin-bottom: 24px;
        transition: opacity .3s;

        &:hover{
            opacity: .7;
        }
    }

    &-address{
        font-size: 16px;
        margin-bottom: 40px;
        
        @include mq(sm){
            font-size: $fz-base;
        }
    }
    small{
        text-align: center;
        transition: opacity .3s;

        a{
            color: $c-search;
            font-size: 11px;
        }

        &:hover{
            opacity: .7;
        }
    }
}