.header{
    height: 80px;
    // background-color: rgba(255, 255, 255, .8);
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    
    @include mq(md){
        box-sizing: content-box;
        padding: 0 16px;
    }
    
    &-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    
        @include mq(md){
            
        }
    }

    &__logo{
        margin-left: 55px;

        @include mq(md){
            margin-left: 0;
        }

        a{
            display: block;
            transition: opacity .3s;

            &:hover{
                opacity: .7;
            }
        }

        img{
            width: 124px;
            height: 48px;
        }
    }

    &__nav{

        &--ham{
            display: none;

            @include mq(md){
                display: block;

                button{
                    position: relative;
                    // visibility: hidden;
                    border: none;
                    background-color: inherit;
                    width: 26px;
                    height: 16px;

                    %ham-bar{
                        position: absolute;
                        width: 26px;
                        height: 2px;
                        left: 50%;
                        background-color: $c-main;

                    }

                    span{
                        @extend %ham-bar;
                        transform: translate(-50%, -50%);
                        top: 50%;
                        transition: opacity .3s;
                        

                        &::before,
                        &::after{
                            @extend %ham-bar;
                            content : "";
                            transition: all .3s ;

                        }
                        &::before{
                            transform: translate(-50%, 0%);
                            top: 8px;

                        }
                        &::after{
                            transform: translate(-50%, -50%);
                            top: -8px;
                        }
                    }
                }
            }
        }

        ul{
            display: flex;
            justify-content: space-between;
            width: fit-content;
            align-items: center;
            
            @include mq(md){
                display: block;
                position: fixed;
                width: 100vw;
                height: 0;
                // height: 100vh;
                overflow: hidden;
                top: 80px;
                left: 0;
                right: 0;
                bottom: 0;
                // flex-direction: column;
                transform: translate(0%, 0);
                transition: all .3s;
                
            }
        }

        &--item{
            margin-left: 2.93vw;
            height: fit-content;

            @include mq(sm){
                border-bottom: 1px solid #CACACA;
                margin-left: 0;

            }

            &:first-child{
                margin-left: 0;
            }
            
            a{
                display: flex;
                position: relative;
                align-items: center;
                flex-direction: column-reverse;
                padding: 2px 4px;
                color: $c-main;
                font-size: $fz-nav__ja;

                @include mq(sm){
                    padding-top: calc((40 / 844) * 100vh);
                    padding-bottom: calc((20 / 844) * 100vh);
                }
                
                &::before{
                    position: absolute;
                    content : "";
                    width: 0%;
                    height: 1px;
                    background-color: $c-main;
                    transform: translate(0%, -100%);
                    bottom: -3px;
                    left: 0;
                    transition: width .3s;
                    
                }

                &:hover{
                    &::before{
                        width: 100%;
                    }
                }


                span{
                    display: block;
                    margin-bottom: 3px;
                    font-family: $ff-en;
                    font-size: $fz-nav__en;

                    @include mq(sm){
                        margin-bottom: 6px;
                    }
                }
            }
        }

        &--tel{
            margin-left: 20px;
            @include  m-arrow;
            @include h-bg (rgba(255, 255, 255, 0), $c-main , $c-main, #fff);
            @include m-btn (80px, rgba(255, 255, 255, 0));
            @extend %m-tel;

            &:hover{
                border: 1px solid $c-main;
            }
        }

        &--contact{
            background-color: $c-contact;
            @include h-bg ($c-contact, #fff , #fff, $c-contact);
            a{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                color:  #fff;
                height: 80px;
                justify-content: center;
                padding: 0 22px;
            }

            span{
                margin-bottom: 3px;
            }

            svg{
                fill: #fff;
            }
        }
    }

    ._open{
        .header__nav--ham{

            span{
                visibility: hidden;

                &::before,
                &::after{
                    visibility: visible;
                }
                
                &::before{
                    transform: rotate(30deg) translate(-50%, -50%);
                    left: 49%;
                    top: 7.1px;
                }

                &::after{
                    transform:rotate(-30deg) translate(-50%, -50%);
                    top: -6.0px;
                }
            }
        }

        ul{
            height: calc(100vh - 80px);
            background-color: #fff;
            border-top: 1px solid #CACACA;
        }

        .header__nav--tel{
            margin: auto;
            margin-bottom: 40px;
            margin-top: 20px;
        }

        .header__nav--contact{
            @include  m-arrow(#fff,$c-contact, 49px, 39px);
            @include h-bg ($c-contact, #fff, #fff, $c-contact);
            @include m-btn (56px, $c-contact);
            margin: auto;

            span{
                display: none;
            }
        }
    }
}