.header{
    height: 80px;
    background-color: rgba(255, 255, 255, .8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    &-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    &__logo{
        margin-left: 55px;

        a{
            display: block;
        }

        img{
            width: 124px;
            height: 48px;
        }
    }

    &__nav{
        &--ham{
            display: none;
        }

        ul{
            display: flex;
            justify-content: space-between;
            width: fit-content;
            align-items: center;
        }

        &--item{
            margin-left: 2.93vw;
            height: fit-content;

            &:first-child{
                margin-left: 0;
            }

            a{
                display: flex;
                position: relative;
                align-items: center;
                flex-direction: column-reverse;
                padding: 2px 4px;
                color: $c-main;
                font-size: $fz-nav__ja;
                
                &::before{
                    position: absolute;
                    content : "";
                    width: 0%;
                    height: 1px;
                    background-color: $c-main;
                    transform: translate(0%, -100%);
                    bottom: -3px;
                    left: 0;
                    transition: width .3s;
                    
                }

                &:hover{
                    &::before{
                        width: 100%;
                    }
                }


                span{
                    display: block;
                    margin-bottom: 3px;
                    font-family: $ff-en;
                    font-size: $fz-nav__en;
                }
            }
        }

        &--tel{
            margin-left: 20px;
            @include  m-arrow;
            @include h-bg (rgba(255, 255, 255, 0), $c-main , $c-main, #fff);
            @include m-btn (80px, rgba(255, 255, 255, 0));
            @extend %m-tel;

            &:hover{
                border: 1px solid $c-main;
            }
        }

        &--contact{
            background-color: $c-contact;
            @include h-bg ($c-contact, #fff , #fff, $c-contact);
            a{
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                color:  #fff;
                height: 80px;
                justify-content: center;
                padding: 0 22px;
            }

            span{
                margin-bottom: 3px;
            }

            svg{
                fill: #fff;
            }
        }
    }
}