main{
    padding-top: 80px;
}

.mv{
    background-image: url(../../img/pc/mv_index_01.png);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    
    &-inner{
        padding-left: 8.27%;
        position: relative;
        padding-top: calc(100vh - 80px) ;
    
    }

    &-contents{
        position: absolute;
        top: 15vw;

        &__btn{
            display: flex;
            
            .m-btn__tel{
                margin-right: 80px;
            }
        }
        
            %mv-text{
                color: $c-main;
        
                
                > span{
                    font-weight: bold;
                    display: inline-block;
                    background-color: #fff;
                    line-height: 1;
                    padding: 13px 16px;
                    margin-bottom: 6px;
        
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        
            p{
                margin-bottom: 24px;
                @extend %mv-text;
                font-size: 18px;
        
                strong{
                    @extend %mv-text;
                    font-size: 60px;
                }
        
                &:last-of-type{
                    margin-bottom: 84px;
                }
            }
    }

    &-news{
        position: absolute;
        display: flex;
        bottom: -60px;
        right: 0;
        height: 80px;
        align-items: center;
        background-color: rgba(255, 255, 255, .95);
        width: calc((100% -  8.27%));
        padding: 26px 40px;

        &__title{

            span{
                position: relative;
                font-family: $ff-en;
                font-weight: bold;
                font-size: 22px;
                padding-right: 22px;

                &::before{
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 26px;
                    background: $c-f__base;
                    top: 0;
                    right: 0;
                }
            }
        }
        &__item{

            a{
                display: flex;
                align-items: center;
                padding-left: 8.64vw;
                font-size: 16px;
                color:  #2D2D2D;

                time{
                    margin-right: 32px;

                }
                p{
                    height: fit-content;
                }

                &:hover{
                    > p{
                        text-decoration: underline;
                    }
                }
            }
        }

    }
}

.concept{
    .inner{
        margin-top: 93px;
        @extend %bg-style__left;
    }

    &-contents{
        position: relative;
        margin-left: 10.836vw;
        z-index: 1;

        &__main{
            display: flex;

            &-img{
                img{
                    max-width: 475px;
                    max-height: 317px;
                    width: 34.77vw;
                    height: 23.206vw;
                }
            }

            &-text{
                text-align: right;

                &--price{
                    font-size: 20px;
                    margin-top: 38px;
                    
                    span{
                        font-size: 60px;
                        font-family: $ff-en;
                    }
                }
            }
        }

        &__text{
            margin-top: 40px;
        }

        .m-btn__more{
            margin: auto;
            margin-top: 40px;
        }
    }
}

.feature{
    background-image: url(../../img/pc/bg_index_01.png);
    background-size: cover;
    background-position: center;
    @extend %section-mt;
    
    .inner{
        display: flex;
    }

    &-title-wrap{
        padding-top: 80px;
        max-width: 372px;
        p{
            margin-bottom: 16px;

            b{
                font-size: 20px;
                font-weight: bold;
            }

            .m-txt{
                margin-bottom: 40px;
            }
        }
    }

    &-list{
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: 0px;
        margin-left: 100px;
        transform: rotate(25deg);

        &__item{
            display: flex;
            align-items: center;
            margin-bottom: 60px;
            transform: rotate(-25deg);


            &:last-of-type{
                margin-bottom: 0;
            }

            >span{
                display: inline-block;
                font-size: 100px;
                font-family: $ff-en;
                color: $c-f__bg;
                font-weight: bold;
                margin-right: 18px;
                letter-spacing: 3.6px;
            }

            strong{
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
                color: $c-main;
            }
        }
    }
}

//service
.service{
    @extend %section-mt;
    @extend %bg-style__right;

    .m-title{
        h2{
            right: 0;
        }
    }
    
    .inner{
        >p{
            margin-bottom: 40px;
        }
    }

    &-content{
        max-width: 936px;
        margin: auto;
        position: relative;

        ul{
            display: flex;
            justify-content: space-between;
        }

        li{
            flex-basis: calc((100% - 26px) / 3);

            // @for $i from 2 to 4 {
            //     &:nth-of-type(#{$i} - 1){
            //         .service-content__title{
            //             background-image: url(../../img/common/img_index_0{$i}.png);
            //         }
            //     }
            // }
            &:nth-of-type(1){
                .service-content__title{
                    background-image: url(../../img/common/img_index_02.png);
                }
            }
            &:nth-of-type(2){
                .service-content__title{
                    background-image: url(../../img/common/img_index_03.png);
                }
            }
            &:nth-of-type(3){
                .service-content__title{
                    background-image: url(../../img/common/img_index_04.png);
                }
            }
        }

        &__title{
            position: relative;
            background-position:center;
            background-size: cover;
            width: 100%;
            padding-top: 66.558%;

            h3{
                position: absolute;
                bottom: -4px;
                left: 16px;

                span{
                    color: $c-main;

                    &:first-of-type{
                        display: block;
                        width: fit-content;
                        font-size: 20px;
                        font-family: $ff-base;
                        font-weight: bold;
                        background-color: #fff;
                        line-height: 1;
                        padding: 10px 16px;
                        margin-bottom: 4px;
                        letter-spacing: 2px;
                    }

                    &:last-of-type{
                        font-family: $ff-en;
                        font-size: 11px;
                        margin-bottom: 4px;
                        margin-left: 16px;
                    }
                }
            }
        }

        &__desc{
            padding: 32px 16px 42px;
            background-color: #fff;

            p{
                margin-bottom: 40px;
            }

        }
    }
}

//works
.works{
    overflow: hidden;
    @extend %section-mt;
    @extend %bg-style__left;

    .m-title{
        height: 60%;
    }
    
    .inner{
        > p{
            text-align: right;
        }
    }

    &-slider{
        margin-top: 76px;
    }
}

.m-txt{
    margin-bottom: 40px;
}

.works-text{
    padding-bottom: 90px;
}

.swiper-container {
    position: relative;
    width: 100%;
    margin: 40px 0;
    padding: 45px 0;
}

.swiper-button-next,
.swiper-button-prev{
    position: absolute;
    top: 0;
    width: 3.6vw;
    transition: opacity .3s;

    &::before,
    &::after{
        display: none;
    }

    &:hover{
        opacity: .7;
    }
}

.swiper-button-prev{
    left: 86%;
}
.swiper-slide {
    transition: .7s;

    &__title,
    &__text{
        display: none;
    }
}

.swiper-slide__title{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 42px;
}

.swiper-slide__text{
    font-size: $fz-base;
}

.swiper-slide img {
    width: 100%;
}

.swiper-slide-active {
    opacity: 1;
    z-index: 1;
    transform:translateZ(0) scale(1.5) !important; /* スライドの大きさ調整 */

    .swiper-slide__title,
    .swiper-slide__text{
        display: block;
    }
}


.works-btn{
    padding-top: 80px;

    >div{
        display: block;
        margin: auto;

        &:first-child{
            margin-bottom: 24px;
        }
    }

    .m-btn__search{
        @include  m-arrow(#fff, $c-search,12px, 4px);
        @include h-bg ($c-search, #fff, #fff, $c-search);
        @include m-btn (40px, $c-search);
    }
}

//blog
.blog{
    @extend %section-mt;
    @extend %bg-style__right;
    background-image: url(../../img/pc/bg_index_02.png);
    background-position: center;
    background-size: cover;
    .m-title{
        height: 80%;
    }

    .inner{
        padding-top: 80px;
        padding-bottom: 27px;

    }

    &-content{
        max-width: 950px;
        position: relative;
        width: 100%;
        background-color: #fff;
        margin: auto;
    }

    ul{
        padding: 26px 95px 56px 95px;
    }

    li{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #CACACA;
        padding-top: 44px;
        padding-bottom: 32px;
    }

    a{
        display: flex;
        align-items: center;
        font-size: 16px;
        color: #2D2D2D;

        &:hover{
            > p{
                text-decoration: underline;
            }
        }
    }

    time{
        margin-right: 32px;
    }
}