main{
    padding-top: 80px;
}

.mv{
    background-image: url(../../img/pc/mv_index_01.png);
    background-size: cover;
    background-position: center;
    height: calc(100vh - 80px);
    
    &-inner{
        padding-left: 8.27%;
        position: relative;
        padding-top: calc(100vh - 80px) ;
    
    }

    &-contents{
        position: absolute;
        top: 15vw;

        &__btn{
            display: flex;
            
            .m-btn__tel{
                margin-right: 80px;
            }
        }
        
            %mv-text{
                color: $c-main;
        
                
                > span{
                    font-weight: bold;
                    display: inline-block;
                    background-color: #fff;
                    line-height: 1;
                    padding: 13px 16px;
                    margin-bottom: 6px;
        
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        
            p{
                margin-bottom: 24px;
                @extend %mv-text;
                font-size: 18px;
        
                strong{
                    @extend %mv-text;
                    font-size: 60px;
                }
        
                &:last-of-type{
                    margin-bottom: 84px;
                }
            }
    }

    &-news{
        position: absolute;
        display: flex;
        bottom: -60px;
        right: 0;
        height: 80px;
        align-items: center;
        background-color: rgba(255, 255, 255, .95);
        width: calc((100% -  8.27%));
        padding: 26px 40px;

        &__title{

            span{
                position: relative;
                font-family: $ff-en;
                font-weight: bold;
                font-size: 22px;
                padding-right: 22px;

                &::before{
                    position: absolute;
                    content: "";
                    width: 1px;
                    height: 26px;
                    background: $c-f__base;
                    top: 0;
                    right: 0;
                }
            }
        }
        &__item{

            a{
                display: flex;
                align-items: center;
                padding-left: 8.64vw;
                font-size: 16px;
                color:  #2D2D2D;

                time{
                    margin-right: 32px;

                }
                p{
                    height: fit-content;
                }
            }
        }

    }
}

.concept{
    .inner{
        margin-top: 93px;
        @extend %bg-style__left;
    }

    &-contents{
        position: relative;
        margin-left: 10.836vw;
        z-index: 1;

        &__main{
            display: flex;

            &-img{
                img{
                    max-width: 475px;
                    max-height: 317px;
                    width: 34.77vw;
                    height: 23.206vw;
                }
            }

            &-text{
                text-align: right;

                &--price{
                    font-size: 20px;
                    margin-top: 38px;
                    
                    span{
                        font-size: 60px;
                        font-family: $ff-en;
                    }
                }
            }
        }

        &__text{
            margin-top: 40px;
        }

        .m-btn__more{
            margin: auto;
            margin-top: 40px;
        }
    }
}

.feature{
    background-image: url(../../img/pc/bg_index_01.png);
    background-size: cover;
    background-position: center;
    @extend %section-mt;
    
    .inner{
        display: flex;
    }

    &-title-wrap{
        padding-top: 80px;
        max-width: 372px;
        p{
            margin-bottom: 16px;

            b{
                font-size: 20px;
                font-weight: bold;
            }

            .m-txt{
                margin-bottom: 40px;
            }
        }
    }

    &-list{
        padding-top: 40px;
        padding-bottom: 40px;
        margin-left: 0px;
        margin-left: 100px;
        transform: rotate(25deg);

        &__item{
            display: flex;
            align-items: center;
            margin-bottom: 60px;
            transform: rotate(-25deg);


            &:last-of-type{
                margin-bottom: 0;
            }

            >span{
                display: inline-block;
                font-size: 100px;
                font-family: $ff-en;
                color: $c-f__bg;
                font-weight: bold;
                margin-right: 18px;
                letter-spacing: 3.6px;
            }

            strong{
                display: inline-block;
                font-size: 24px;
                font-weight: bold;
                margin-bottom: 10px;
                color: $c-main;
            }
        }
    }
}