/*====================================================================
                    reset
====================================================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

img {
  width: 100%;
}

/*====================================================================
                    mixin
====================================================================*/
@media screen and (max-width: 1025px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .is-pc {
    display: none;
  }
}

.m-btn__tel a, .header__nav--tel a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.m-btn__tel a::before, .header__nav--tel a::before {
  display: none;
}

.m-btn__tel a span, .header__nav--tel a span {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-size: 24px;
  margin-bottom: 3px;
}

.m-btn__tel a svg, .header__nav--tel a svg {
  width: 16px;
  height: 16px;
}

.m-btn__tel a small, .header__nav--tel a small {
  display: block;
  font-size: 16px;
}

.m-txt {
  font-size: 28px;
  color: #fff;
}

.m-txt span {
  display: inline-block;
  background-color: #192F60;
  margin-bottom: 10px;
  padding: 13px 16px;
  line-height: 1;
}

.m-txt span:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .m-txt {
    font-size: 20px;
  }
}

.inner {
  position: relative;
  z-index: 0;
}

.inner .m-title {
  position: absolute;
  content: "";
  width: calc((335 / 1156) * 100%);
  height: 100%;
  top: 0;
  background-size: contain;
  background-position: center;
  background-image: url(../../img/pc/bg_index_04.png);
}

.inner .m-title h2 {
  position: absolute;
  top: 50px;
  font-size: 77px;
  color: #EFF1F4;
  display: inline-block;
  font-family: neue-haas-grotesk-text, sans-serif;
}

.section-02 .inner .m-title {
  right: 0;
}

.section-02 .inner .m-title h2 {
  -webkit-transform: rotate(90deg) translate(40%, -175%);
          transform: rotate(90deg) translate(40%, -175%);
  right: -30px;
}

.section-01 .inner .m-title, .concept .inner .m-title {
  left: 0;
}

.section-01 .inner .m-title h2, .concept .inner .m-title h2 {
  -webkit-transform: rotate(90deg) translate(40%, 175%);
          transform: rotate(90deg) translate(40%, 175%);
  left: -30px;
}

.feature {
  margin-top: 80px;
}

/*====================================================================
                    common
==================================================================*/
* {
  font-family: heisei-kaku-gothic-stdn, sans-serif;
}

body {
  font-family: heisei-kaku-gothic-stdn, sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.85714em;
  color: #333333;
}

.inner {
  max-width: 1154px;
  margin: auto;
  padding: 0 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-btn__contact {
  background-color: #20868A;
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
  width: 240px;
  height: 56px;
  border: 1px solid #20868A;
}

.m-btn__contact a {
  position: relative;
}

.m-btn__contact a::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 50%;
  right: 49px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.m-btn__contact:hover a::before {
  right: 39px;
  border-color: transparent transparent transparent #20868A;
}

.m-btn__contact a {
  color: #fff;
}

.m-btn__contact .svg {
  fill: #fff;
}

.m-btn__contact:hover {
  background-color: #fff;
}

.m-btn__contact:hover a {
  color: #20868A;
}

.m-btn__contact:hover svg {
  fill: #20868A;
}

.m-btn__contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.m-btn__more {
  background-color: #fff;
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
  width: 240px;
  height: 40px;
  border: 1px solid #192F60;
}

.m-btn__more a {
  position: relative;
}

.m-btn__more a::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 50%;
  right: 40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #192F60;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.m-btn__more:hover a::before {
  right: 30px;
  border-color: transparent transparent transparent #fff;
}

.m-btn__more a {
  color: #192F60;
}

.m-btn__more .svg {
  fill: #192F60;
}

.m-btn__more:hover {
  background-color: #192F60;
}

.m-btn__more:hover a {
  color: #fff;
}

.m-btn__more:hover svg {
  fill: #fff;
}

.m-btn__more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.m-btn__tel {
  background-color: #192F60;
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
  width: 240px;
  height: 56px;
  border: 1px solid #192F60;
}

.m-btn__tel a {
  position: relative;
}

.m-btn__tel a::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.m-btn__tel:hover a::before {
  right: 0;
  border-color: transparent transparent transparent #fff;
}

.m-btn__tel a {
  color: #fff;
}

.m-btn__tel .svg {
  fill: #fff;
}

.m-btn__tel:hover {
  background-color: #fff;
}

.m-btn__tel:hover a {
  color: #192F60;
}

.m-btn__tel:hover svg {
  fill: #192F60;
}

.m-btn__tel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

/*====================================================================
                    index
====================================================================*/
main {
  padding-top: 80px;
}

.mv {
  background-image: url(../../img/pc/mv_index_01.png);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
}

.mv-inner {
  padding-left: 8.27%;
  position: relative;
  padding-top: calc(100vh - 80px);
}

.mv-contents {
  position: absolute;
  top: 15vw;
}

.mv-contents__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mv-contents__btn .m-btn__tel {
  margin-right: 80px;
}

.mv-contents p, .mv-contents p strong {
  color: #192F60;
}

.mv-contents p > span, .mv-contents p strong > span {
  font-weight: bold;
  display: inline-block;
  background-color: #fff;
  line-height: 1;
  padding: 13px 16px;
  margin-bottom: 6px;
}

.mv-contents p > span:last-child, .mv-contents p strong > span:last-child {
  margin-bottom: 0;
}

.mv-contents p {
  margin-bottom: 24px;
  font-size: 18px;
}

.mv-contents p strong {
  font-size: 60px;
}

.mv-contents p:last-of-type {
  margin-bottom: 84px;
}

.mv-news {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -60px;
  right: 0;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  width: calc((100% -  8.27%));
  padding: 26px 40px;
}

.mv-news__title span {
  position: relative;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-right: 22px;
}

.mv-news__title span::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 26px;
  background: #333333;
  top: 0;
  right: 0;
}

.mv-news__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8.64vw;
  font-size: 16px;
  color: #2D2D2D;
}

.mv-news__item a time {
  margin-right: 32px;
}

.mv-news__item a p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.concept .inner {
  margin-top: 93px;
}

.concept-contents {
  position: relative;
  margin-left: 10.836vw;
  z-index: 1;
}

.concept-contents__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.concept-contents__main-img img {
  max-width: 475px;
  max-height: 317px;
  width: 34.77vw;
  height: 23.206vw;
}

.concept-contents__main-text {
  text-align: right;
}

.concept-contents__main-text--price {
  font-size: 20px;
  margin-top: 38px;
}

.concept-contents__main-text--price span {
  font-size: 60px;
  font-family: neue-haas-grotesk-text, sans-serif;
}

.concept-contents__text {
  margin-top: 40px;
}

.concept-contents .m-btn__more {
  margin: auto;
  margin-top: 40px;
}

.feature {
  background-image: url(../../img/pc/bg_index_01.png);
  background-size: cover;
  background-position: center;
}

.feature .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature-title-wrap p {
  margin-bottom: 16px;
}

.feature-title-wrap p b {
  font-size: 20px;
  font-weight: bold;
}

.feature-title-wrap p .m-txt {
  margin-bottom: 40px;
}

/*====================================================================
                    header
====================================================================*/
.header {
  height: 80px;
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__logo {
  margin-left: 55px;
}

.header__logo a {
  display: block;
}

.header__logo img {
  width: 124px;
  height: 48px;
}

.header__nav--ham {
  display: none;
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav--item {
  margin-left: 2.93vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header__nav--item:first-child {
  margin-left: 0;
}

.header__nav--item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 2px 4px;
  color: #192F60;
  font-size: 16px;
}

.header__nav--item a span {
  display: block;
  margin-bottom: 3px;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-size: 13px;
}

.header__nav--tel {
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
  width: 240px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.header__nav--tel a {
  position: relative;
}

.header__nav--tel a::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.header__nav--tel:hover a::before {
  right: 0;
  border-color: transparent transparent transparent #fff;
}

.header__nav--tel a {
  color: #192F60;
}

.header__nav--tel .svg {
  fill: #192F60;
}

.header__nav--tel:hover {
  background-color: #192F60;
}

.header__nav--tel:hover a {
  color: #fff;
}

.header__nav--tel:hover svg {
  fill: #fff;
}

.header__nav--tel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.header__nav--tel:hover {
  border: 1px solid #192F60;
}

.header__nav--contact {
  background-color: #20868A;
  background-color: #20868A;
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
}

.header__nav--contact a {
  color: #fff;
}

.header__nav--contact .svg {
  fill: #fff;
}

.header__nav--contact:hover {
  background-color: #fff;
}

.header__nav--contact:hover a {
  color: #20868A;
}

.header__nav--contact:hover svg {
  fill: #20868A;
}

.header__nav--contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 22px;
}

.header__nav--contact span {
  margin-bottom: 3px;
}

.header__nav--contact svg {
  fill: #fff;
}

/*====================================================================
                    footer
====================================================================*/
/*# sourceMappingURL=style.css.map */