@charset "UTF-8";
/*====================================================================
                    reset
====================================================================*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, div, span, img, a, table, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: normal;
  font-size: 100%;
  vertical-align: baseline;
}

header, footer, nav, section, article, aside, figure, figcaption {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
  list-style-type: none;
}

img {
  width: 100%;
}

/*====================================================================
                    mixin
====================================================================*/
@media screen and (max-width: 1025px) {
  .is-sp {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .is-pc {
    display: none;
  }
}

.m-btn__tel a, .header__nav--tel a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

.m-btn__tel a::before, .header__nav--tel a::before {
  display: none;
}

.m-btn__tel a span, .header__nav--tel a span {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-size: 24px;
  margin-bottom: 3px;
}

.m-btn__tel a svg, .header__nav--tel a svg {
  width: 16px;
  height: 16px;
}

.m-btn__tel a small, .header__nav--tel a small {
  display: block;
  font-size: 16px;
}

.m-txt {
  font-size: 28px;
  color: #fff;
}

.m-txt span {
  display: inline-block;
  background-color: #192F60;
  margin-bottom: 10px;
  padding: 13px 16px;
  line-height: 1;
}

.m-txt span:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .m-txt {
    font-size: 20px;
  }
}

.inner {
  position: relative;
  z-index: 0;
}

.inner .m-title {
  position: absolute;
  content: "";
  width: calc((335 / 1156) * 100%);
  height: 100%;
  top: 0;
  background-size: contain;
  background-position: center;
  background-image: url(../../img/pc/bg_index_04.png);
}

@media screen and (max-width: 768px) {
  .inner .m-title {
    height: 400px;
  }
}

.inner .m-title h2 {
  position: absolute;
  top: 50px;
  font-size: 77px;
  color: #EFF1F4;
  display: inline-block;
  font-family: neue-haas-grotesk-text, sans-serif;
}

.section-02 .inner .m-title, .service .m-title, .blog .m-title {
  right: 0;
}

.section-02 .inner .m-title h2, .service .m-title h2, .blog .m-title h2 {
  -webkit-transform: rotate(90deg) translate(40%, -175%);
          transform: rotate(90deg) translate(40%, -175%);
  right: 60px;
}

.section-01 .inner .m-title, .concept .inner .m-title, .works .m-title {
  left: 0;
}

.section-01 .inner .m-title h2, .concept .inner .m-title h2, .works .m-title h2 {
  -webkit-transform: rotate(90deg) translate(40%, 175%);
          transform: rotate(90deg) translate(40%, 175%);
  left: -30px;
}

.feature, .service, .works, .blog, .footer {
  margin-top: 80px;
}

/*====================================================================
                    common
==================================================================*/
* {
  font-family: heisei-kaku-gothic-stdn, sans-serif;
}

body {
  font-family: heisei-kaku-gothic-stdn, sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.85714em;
  color: #333333;
}

.inner {
  max-width: 1154px;
  margin: auto;
  padding: 0 32px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

@media screen and (max-width: 768px) {
  .inner {
    padding: 0 16px;
  }
}

.m-btn__contact {
  background-color: #20868A;
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
  width: 240px;
  height: 56px;
  border: 1px solid #20868A;
}

.m-btn__contact a {
  position: relative;
}

.m-btn__contact a::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 50%;
  right: 49px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.m-btn__contact:hover a::before {
  right: 39px;
  border-color: transparent transparent transparent #20868A;
}

.m-btn__contact a {
  color: #fff;
}

.m-btn__contact .svg {
  fill: #fff;
}

.m-btn__contact:hover {
  background-color: #fff;
}

.m-btn__contact:hover a {
  color: #20868A;
}

.m-btn__contact:hover svg {
  fill: #20868A;
}

.m-btn__contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 14px;
}

.m-btn__more {
  background-color: #fff;
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
  width: 240px;
  height: 40px;
  border: 1px solid #192F60;
}

.m-btn__more a {
  position: relative;
}

.m-btn__more a::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 50%;
  right: 40px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #192F60;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.m-btn__more:hover a::before {
  right: 30px;
  border-color: transparent transparent transparent #fff;
}

.m-btn__more a {
  color: #192F60;
}

.m-btn__more .svg {
  fill: #192F60;
}

.m-btn__more:hover {
  background-color: #192F60;
}

.m-btn__more:hover a {
  color: #fff;
}

.m-btn__more:hover svg {
  fill: #fff;
}

.m-btn__more a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 14px;
}

.m-btn__tel {
  background-color: #192F60;
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
  width: 240px;
  height: 56px;
  border: 1px solid #192F60;
}

.m-btn__tel a {
  position: relative;
}

.m-btn__tel a::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.m-btn__tel:hover a::before {
  right: 0;
  border-color: transparent transparent transparent #fff;
}

.m-btn__tel a {
  color: #fff;
}

.m-btn__tel .svg {
  fill: #fff;
}

.m-btn__tel:hover {
  background-color: #fff;
}

.m-btn__tel:hover a {
  color: #192F60;
}

.m-btn__tel:hover svg {
  fill: #192F60;
}

.m-btn__tel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 14px;
}

/*====================================================================
                    index
====================================================================*/
main {
  padding-top: 80px;
}

.mv {
  background-image: url(../../img/pc/mv_index_01.png);
  background-size: cover;
  background-position: center;
  height: calc(100vh - 80px);
}

@media screen and (max-width: 768px) {
  .mv {
    background-image: url(../../img/sp/mv_index_01.png);
  }
}

.mv-inner {
  padding-left: 8.27%;
  position: relative;
  padding-top: calc(100vh - 80px);
}

@media screen and (max-width: 768px) {
  .mv-inner {
    padding-left: 0;
  }
}

.mv-contents {
  position: absolute;
  top: 15vw;
}

@media screen and (max-width: 768px) {
  .mv-contents {
    padding-left: 15px;
  }
}

.mv-contents__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .mv-contents__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.mv-contents__btn .m-btn__tel {
  margin-right: 80px;
}

@media screen and (max-width: 768px) {
  .mv-contents__btn .m-btn__tel {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.mv-contents p, .mv-contents p strong {
  color: #192F60;
}

.mv-contents p > span, .mv-contents p strong > span {
  font-weight: bold;
  display: inline-block;
  background-color: #fff;
  line-height: 1;
  padding: 13px 16px;
  margin-bottom: 6px;
}

@media screen and (max-width: 768px) {
  .mv-contents p > span, .mv-contents p strong > span {
    margin-bottom: 10px;
  }
}

.mv-contents p > span:last-child, .mv-contents p strong > span:last-child {
  margin-bottom: 0;
}

.mv-contents p {
  margin-bottom: 24px;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .mv-contents p {
    font-size: 3.59vw;
  }
}

.mv-contents p strong {
  font-size: 60px;
}

@media screen and (max-width: 768px) {
  .mv-contents p strong {
    font-size: 5.64vw;
  }
}

.mv-contents p:last-of-type {
  margin-bottom: 84px;
}

.mv-news {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: -60px;
  right: 0;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(255, 255, 255, 0.95);
  width: calc((100% -  8.27%));
  padding: 26px 40px;
}

@media screen and (max-width: 768px) {
  .mv-news {
    padding: 26px 16px;
    height: auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.mv-news__title {
  height: 100%;
}

.mv-news__title span {
  position: relative;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-right: 22px;
}

@media screen and (max-width: 768px) {
  .mv-news__title span {
    padding-right: 16px;
  }
}

.mv-news__item a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 8.64vw;
  font-size: 16px;
  color: #2D2D2D;
}

.mv-news__item a::before {
  position: absolute;
  content: "";
  width: 1px;
  height: 26px;
  background: #333333;
  top: 0;
  left: 0;
}

@media screen and (max-width: 768px) {
  .mv-news__item a::before {
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .mv-news__item a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 16px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.mv-news__item a time {
  margin-right: 32px;
}

.mv-news__item a p {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.mv-news__item a:hover > p {
  text-decoration: underline;
}

.concept .inner {
  margin-top: 93px;
}

.concept-contents {
  position: relative;
  margin-left: 10.836vw;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .concept-contents {
    margin-left: 0;
    padding-top: 15vw;
  }
}

.concept-contents__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .concept-contents__main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .concept-contents__main-img {
    width: 100%;
  }
}

.concept-contents__main-img img {
  max-width: 475px;
  max-height: 317px;
  width: 34.77vw;
  height: 23.206vw;
}

@media screen and (max-width: 768px) {
  .concept-contents__main-img img {
    max-width: none;
    max-height: none;
    width: 100%;
    height: auto;
  }
}

.concept-contents__main-text {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .concept-contents__main-text {
    margin-top: 24px;
  }
  .concept-contents__main-text .m-txt span {
    display: block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    text-align-last: left;
  }
}

.concept-contents__main-text--price {
  font-size: 20px;
  margin-top: 36px;
}

@media screen and (max-width: 768px) {
  .concept-contents__main-text--price {
    text-align: center;
    letter-spacing: 1.6px;
    font-size: 4.1vw;
  }
}

.concept-contents__main-text--price span {
  font-size: 60px;
  font-family: neue-haas-grotesk-text, sans-serif;
}

@media screen and (max-width: 768px) {
  .concept-contents__main-text--price span {
    font-size: 9.23vw;
    letter-spacing: 3.6px;
  }
}

.concept-contents__text {
  margin-top: 40px;
}

.concept-contents .m-btn__more {
  margin: auto;
  margin-top: 40px;
}

.feature {
  background-image: url(../../img/pc/bg_index_01.png);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 768px) {
  .feature {
    background-image: none;
  }
}

.feature .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 768px) {
  .feature .inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

.feature-title-wrap {
  padding-top: 80px;
  max-width: 372px;
}

@media screen and (max-width: 768px) {
  .feature-title-wrap {
    background-color: #D3DBEC;
    padding: 40px 15px;
    width: 100%;
    max-width: none;
  }
}

.feature-title-wrap p {
  margin-bottom: 16px;
}

@media screen and (max-width: 768px) {
  .feature-title-wrap p {
    text-align: center;
  }
}

.feature-title-wrap p b {
  font-size: 20px;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .feature-title-wrap p b {
    font-size: 18px;
  }
}

.feature-title-wrap p .m-txt {
  margin-bottom: 40px;
}

.feature-list {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 100px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

@media screen and (max-width: 768px) {
  .feature-list {
    position: relative;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    margin-left: 0;
    padding: 0 16px;
    margin-top: 71px;
    margin-bottom: 64.1vw;
  }
  .feature-list::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 120px;
    background-color: #D3DBEC;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    bottom: -55%;
    left: 50%;
  }
}

.feature-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

@media screen and (max-width: 768px) {
  .feature-list__item {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 85px;
  }
}

.feature-list__item:last-of-type {
  margin-bottom: 0;
}

.feature-list__item > span {
  display: inline-block;
  font-size: 100px;
  font-family: neue-haas-grotesk-text, sans-serif;
  color: #EFF1F4;
  font-weight: bold;
  margin-right: 18px;
  letter-spacing: 3.6px;
}

@media screen and (max-width: 768px) {
  .feature-list__item > span {
    position: absolute;
    top: -10px;
    left: 0;
    line-height: 1;
    z-index: 0;
  }
}

@media screen and (max-width: 768px) {
  .feature-list__item > div {
    position: relative;
    z-index: 1;
  }
}

.feature-list__item strong {
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #192F60;
}

@media screen and (max-width: 768px) {
  .feature-list__item p {
    text-align-last: left;
  }
}

.service .m-title h2 {
  right: 0;
}

@media screen and (max-width: 768px) {
  .service .m-title h2 {
    right: 15px;
  }
}

.service .inner > p {
  margin-bottom: 40px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .service .inner {
    padding-top: 87px;
  }
}

.service .m-txt {
  position: relative;
}

.service-content {
  max-width: 936px;
  margin: auto;
  position: relative;
}

.service-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .service-content ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.service-content li {
  -ms-flex-preferred-size: calc((100% - 26px) / 3);
      flex-basis: calc((100% - 26px) / 3);
}

.service-content li:nth-of-type(1) .service-content__title {
  background-image: url(../../img/common/img_index_02.png);
}

.service-content li:nth-of-type(2) .service-content__title {
  background-image: url(../../img/common/img_index_03.png);
}

.service-content li:nth-of-type(3) .service-content__title {
  background-image: url(../../img/common/img_index_04.png);
}

.service-content__title {
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding-top: 66.558%;
}

.service-content__title h3 {
  position: absolute;
  bottom: -4px;
  left: 16px;
}

.service-content__title h3 span {
  color: #192F60;
}

.service-content__title h3 span:first-of-type {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 20px;
  font-family: heisei-kaku-gothic-stdn, sans-serif;
  font-weight: bold;
  background-color: #fff;
  line-height: 1;
  padding: 10px 16px;
  margin-bottom: 4px;
  letter-spacing: 2px;
}

.service-content__title h3 span:last-of-type {
  font-family: neue-haas-grotesk-text, sans-serif;
  font-size: 11px;
  margin-bottom: 4px;
  margin-left: 16px;
}

.service-content__desc {
  padding: 32px 16px 42px;
  background-color: #fff;
}

.service-content__desc p {
  margin-bottom: 40px;
}

.works {
  overflow: hidden;
}

.works .m-title {
  height: 60%;
}

@media screen and (max-width: 768px) {
  .works .m-title h2 {
    left: 19px;
  }
}

.works .inner > p {
  text-align: right;
}

.works-slider {
  margin-top: 76px;
}

.m-txt {
  margin-bottom: 40px;
}

.works-text {
  padding-bottom: 90px;
}

.swiper-container {
  position: relative;
  width: 100%;
  margin: 40px 0;
  padding: 45px 0;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 0;
  width: 3.6vw;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.swiper-button-next::before, .swiper-button-next::after,
.swiper-button-prev::before,
.swiper-button-prev::after {
  display: none;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  opacity: .7;
}

.swiper-button-prev {
  left: 86%;
}

.swiper-slide {
  -webkit-transition: .7s;
  transition: .7s;
}

.swiper-slide__title, .swiper-slide__text {
  display: none;
}

.swiper-slide__title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 42px;
}

.swiper-slide__text {
  font-size: 14px;
}

.swiper-slide img {
  width: 100%;
}

.swiper-slide-active {
  opacity: 1;
  z-index: 1;
  -webkit-transform: translateZ(0) scale(1.5) !important;
          transform: translateZ(0) scale(1.5) !important;
  /* スライドの大きさ調整 */
}

.swiper-slide-active .swiper-slide__title,
.swiper-slide-active .swiper-slide__text {
  display: block;
}

.works-btn {
  padding-top: 80px;
}

.works-btn > div {
  display: block;
  margin: auto;
}

.works-btn > div:first-child {
  margin-bottom: 24px;
}

.works-btn .m-btn__search {
  background-color: #AEB6C7;
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
  width: 240px;
  height: 40px;
  border: 1px solid #AEB6C7;
}

.works-btn .m-btn__search a {
  position: relative;
}

.works-btn .m-btn__search a::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 50%;
  right: 12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.works-btn .m-btn__search:hover a::before {
  right: 4px;
  border-color: transparent transparent transparent #AEB6C7;
}

.works-btn .m-btn__search a {
  color: #fff;
}

.works-btn .m-btn__search .svg {
  fill: #fff;
}

.works-btn .m-btn__search:hover {
  background-color: #fff;
}

.works-btn .m-btn__search:hover a {
  color: #AEB6C7;
}

.works-btn .m-btn__search:hover svg {
  fill: #AEB6C7;
}

.works-btn .m-btn__search a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 14px;
}

.blog {
  background-image: url(../../img/pc/bg_index_02.png);
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 768px) {
  .blog {
    background-image: url(../../img/sp/bg_index_01.png);
  }
}

.blog .m-title {
  height: 80%;
}

@media screen and (max-width: 768px) {
  .blog .m-title h2 {
    right: 75px;
  }
}

.blog .inner {
  padding-top: 80px;
  padding-bottom: 27px;
}

@media screen and (max-width: 768px) {
  .blog .inner {
    padding-top: 100px;
  }
}

.blog-content {
  max-width: 950px;
  position: relative;
  width: 100%;
  background-color: #fff;
  margin: auto;
}

.blog ul {
  padding: 26px 95px 56px 95px;
}

@media screen and (max-width: 768px) {
  .blog ul {
    padding: 40px 24px;
  }
}

.blog li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #CACACA;
  padding-top: 44px;
  padding-bottom: 32px;
}

@media screen and (max-width: 768px) {
  .blog li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog li:first-of-type {
    padding-top: 0;
  }
}

.blog a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  color: #2D2D2D;
}

@media screen and (max-width: 768px) {
  .blog a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.blog a:hover > p {
  text-decoration: underline;
}

.blog time {
  margin-right: 32px;
}

@media screen and (max-width: 768px) {
  .blog time {
    margin-bottom: 8px;
    margin-right: 0;
  }
}

/*====================================================================
                    header
====================================================================*/
.header {
  height: 80px;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

@media screen and (max-width: 1025px) {
  .header {
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
    padding: 0 16px;
  }
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__logo {
  margin-left: 55px;
}

@media screen and (max-width: 1025px) {
  .header__logo {
    margin-left: 0;
  }
}

.header__logo a {
  display: block;
}

.header__logo img {
  width: 124px;
  height: 48px;
}

.header__nav--ham {
  display: none;
}

@media screen and (max-width: 1025px) {
  .header__nav--ham {
    display: block;
  }
  .header__nav--ham button {
    position: relative;
    border: none;
    background-color: inherit;
    width: 26px;
    height: 16px;
  }
  .header__nav--ham button span, .header__nav--ham button span::before, .header__nav--ham button span::after {
    position: absolute;
    width: 26px;
    height: 2px;
    left: 50%;
    background-color: #192F60;
  }
  .header__nav--ham button span {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: 50%;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
  }
  .header__nav--ham button span::before, .header__nav--ham button span::after {
    content: "";
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .header__nav--ham button span::before {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
    top: 8px;
  }
  .header__nav--ham button span::after {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    top: -8px;
  }
}

.header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1025px) {
  .header__nav ul {
    display: block;
    position: fixed;
    width: 100vw;
    height: 0;
    overflow: hidden;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(0%, 0);
            transform: translate(0%, 0);
    -webkit-transition: all .3s;
    transition: all .3s;
  }
}

.header__nav--item {
  margin-left: 2.93vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media screen and (max-width: 768px) {
  .header__nav--item {
    border-bottom: 1px solid #CACACA;
    margin-left: 0;
  }
}

.header__nav--item:first-child {
  margin-left: 0;
}

.header__nav--item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding: 2px 4px;
  color: #192F60;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .header__nav--item a {
    padding-top: calc((40 / 844) * 100vh);
    padding-bottom: calc((20 / 844) * 100vh);
  }
}

.header__nav--item a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 1px;
  background-color: #192F60;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  bottom: -3px;
  left: 0;
  -webkit-transition: width .3s;
  transition: width .3s;
}

.header__nav--item a:hover::before {
  width: 100%;
}

.header__nav--item a span {
  display: block;
  margin-bottom: 3px;
  font-family: neue-haas-grotesk-text, sans-serif;
  font-size: 13px;
}

@media screen and (max-width: 768px) {
  .header__nav--item a span {
    margin-bottom: 6px;
  }
}

.header__nav--tel {
  margin-left: 20px;
  background-color: rgba(255, 255, 255, 0);
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
  width: 240px;
  height: 80px;
  border: 1px solid rgba(255, 255, 255, 0);
}

.header__nav--tel a {
  position: relative;
}

.header__nav--tel a::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 50%;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.header__nav--tel:hover a::before {
  right: 0;
  border-color: transparent transparent transparent #fff;
}

.header__nav--tel a {
  color: #192F60;
}

.header__nav--tel .svg {
  fill: #192F60;
}

.header__nav--tel:hover {
  background-color: #192F60;
}

.header__nav--tel:hover a {
  color: #fff;
}

.header__nav--tel:hover svg {
  fill: #fff;
}

.header__nav--tel a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 14px;
}

.header__nav--tel:hover {
  border: 1px solid #192F60;
}

.header__nav--contact {
  background-color: #20868A;
  background-color: #20868A;
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
}

.header__nav--contact a {
  color: #fff;
}

.header__nav--contact .svg {
  fill: #fff;
}

.header__nav--contact:hover {
  background-color: #fff;
}

.header__nav--contact:hover a {
  color: #20868A;
}

.header__nav--contact:hover svg {
  fill: #20868A;
}

.header__nav--contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 22px;
}

.header__nav--contact span {
  margin-bottom: 3px;
}

.header__nav--contact svg {
  fill: #fff;
}

.header ._open .header__nav--ham span {
  visibility: hidden;
}

.header ._open .header__nav--ham span::before, .header ._open .header__nav--ham span::after {
  visibility: visible;
}

.header ._open .header__nav--ham span::before {
  -webkit-transform: rotate(30deg) translate(-50%, -50%);
          transform: rotate(30deg) translate(-50%, -50%);
  left: 49%;
  top: 7.1px;
}

.header ._open .header__nav--ham span::after {
  -webkit-transform: rotate(-30deg) translate(-50%, -50%);
          transform: rotate(-30deg) translate(-50%, -50%);
  top: -6.0px;
}

.header ._open ul {
  height: calc(100vh - 80px);
  background-color: #fff;
  border-top: 1px solid #CACACA;
}

.header ._open .header__nav--tel {
  margin: auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.header ._open .header__nav--contact {
  background-color: #20868A;
  -webkit-transition: background-color .3s, border .3s;
  transition: background-color .3s, border .3s;
  width: 240px;
  height: 56px;
  border: 1px solid #20868A;
  margin: auto;
}

.header ._open .header__nav--contact a {
  position: relative;
}

.header ._open .header__nav--contact a::before {
  position: absolute;
  content: "";
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  top: 50%;
  right: 49px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #fff;
  -webkit-transition: right 0.3s;
  transition: right 0.3s;
}

.header ._open .header__nav--contact:hover a::before {
  right: 39px;
  border-color: transparent transparent transparent #20868A;
}

.header ._open .header__nav--contact a {
  color: #fff;
}

.header ._open .header__nav--contact .svg {
  fill: #fff;
}

.header ._open .header__nav--contact:hover {
  background-color: #fff;
}

.header ._open .header__nav--contact:hover a {
  color: #20868A;
}

.header ._open .header__nav--contact:hover svg {
  fill: #20868A;
}

.header ._open .header__nav--contact a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  font-size: 14px;
}

.header ._open .header__nav--contact span {
  display: none;
}

/*====================================================================
                    footer
====================================================================*/
.footer p {
  color: #fff;
  text-align: center;
}

.footer-contact {
  padding-top: 80px;
  padding-bottom: 80px;
  background-image: url(../../img/pc/bg_index_03.png);
  background-size: cover;
  background-position: center;
}

.footer-contact p {
  font-size: 24px;
  letter-spacing: 2.4px;
  margin-bottom: 40px;
  line-height: 2;
}

@media screen and (max-width: 768px) {
  .footer-contact p {
    letter-spacing: 1.8px;
    font-size: 18px;
  }
}

.footer-contact__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  .footer-contact__btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer-contact__btn .m-btn__tel {
  margin-right: 80px;
}

@media screen and (max-width: 768px) {
  .footer-contact__btn .m-btn__tel {
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.footer-info {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #192F60;
  text-align: center;
}

.footer-logo {
  width: 124px;
  height: 48px;
  margin: auto;
  margin-bottom: 24px;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.footer-logo:hover {
  opacity: .7;
}

.footer-address {
  font-size: 16px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .footer-address {
    font-size: 14px;
  }
}

.footer small {
  text-align: center;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}

.footer small a {
  color: #AEB6C7;
  font-size: 11px;
}

.footer small:hover {
  opacity: .7;
}
/*# sourceMappingURL=style.css.map */